@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {font-family: 'Roboto', sans-serif;
}

.body1 {background-color: rgb(192, 176, 171);
}

.body2 {background-image: url("images/Welcome.jpg");    
}

/* Flex-box */
.container{
    display:flex;
    min-height:100vh;
    flex-direction:row;
    flex-wrap: wrap;
    display: flex;
}
.boxflex{
    color: rgb(192, 176, 171);
    font-size: 100px;
    font-family:  black;
    text-align: left;
    padding: 15px;
    width: 400px;
}

.box {box-sizing: border-box ;
    background-color: rgb(139, 96, 112);
    font-family:  black;
    padding: 10px 10px 0px 10px;
    border-style:none;
    
}

#WelcomeMessage{
color: black;
font-weight: 100px;
font-style: initial;
font-size: 50px;
}

.fontindex{
    color: black;
    font-weight: 200px;
    font-size: 25px;
}

.fontUnit{
    color: black;
    font-weight: 50px;
    font-size: 40px;
}

.fonth2{
    color: black;
    font-weight: 40px;
    font-size: 30px;
}

.fonth3{
    color: black;
    font-weight: 50px;
    font-size: 20px;
}

.fontpara{
    color: black;
    font-size: 16px;
}

.center{
    text-align: center;
}